body {
  font-family: "Sen", sans-serif;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.main {
  padding: 25px 35px;
  margin: 60px auto;
  max-width: 70%;
  min-width: 700px;
  background-color: white;
  border-radius: 1.5%;
  border: 1px solid black;
}

.change-location {
  padding: 20px 20px 20px 10px;
}

.change-location-input {
  font-size: 16px;
  width: 100%;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

button.buttons {
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 1%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
  font-weight: 20%;
  border: 1px solid black;
}

.current-city h1 {
  font-size: 45px;
  margin: 0 10px 10px 10px;
  font-weight: 600;
}

h2#current-date-time {
  font-size: 30px;
  margin: 10px;
}

.current-temp h2 {
  font-weight: 500;
  font-size: 80px;
}

.current-weather-icon {
  text-align: center;
}

h3#weather-description {
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
}

.fahrenheit-celsius .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.fahrenheit-celsius .active:hover {
  text-decoration: none;
}

.current-weather-specs ul {
  font-size: 13px;
  list-style: none;
  padding-left: 15px;
}

.card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgb(56, 54, 54);
  padding: 20px 10px;
  margin: 20px;
}

.weather-forecast {
  margin: 20px;
}

.weather-forecast h3 {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
  color: #3c4349;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 60px;
}

.weather-forecast-temperature {
  text-align: center;
  font-size: 18px;
  height: auto;
  line-height: 15px;
  color: #3c4349;
}
