body {
  font-family: "Sen", sans-serif;
  background-color: #330867;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
}

.main {
  padding: 25px 35px;
  margin: 60px auto 20px auto;
  max-width: 70%;
  min-width: 1000px;
  background-color: #fcf9ea;
  border-radius: 1.5%;
  border: 3px solid black;
}

.weather-body {
  margin-top: 10px;
}
.change-location {
  padding: 20px 20px 20px 10px;
  margin-left: 20px;
}

.change-location-input {
  font-size: 16px;
  width: 100%;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.button-section {
  padding-left: 0;
}

button.buttons {
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 1%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
  font-weight: 20%;
  border: 1px solid black;
  background: #fecd1a;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

button.buttons:hover {
  opacity: 0.6;
}

.topper {
  margin-top: 15px;
  margin-left: 20px;
}
.current-city h1 {
  font-size: 45px;
  margin: 10px;
  font-weight: 600;
  color: #297ca0;
}

h2#current-date-time {
  font-size: 25px;
  margin: 10px;
}

.main-weather {
  margin: 20px 40px 30px 50px;
}

#icon {
  min-width: 220px;
  display: block;
  margin: 0 auto;
}

h3#weather-description {
  text-align: center;
  text-transform: capitalize;
  font-size: 22px;
}

.temp-units,
.specs {
  margin-top: 15px;
}
.temp-units {
  text-align: center;
}

.specs {
  padding-right: 0;
}

.current-temp {
  display: inline;
  margin-top: 90px;
}

.current-temp h2 {
  font-size: 70px;
  margin-top: 40px;
  display: inline;
}

.fahrenheit-celsius {
  display: inline;
}

.fahrenheit-celsius h5 {
  display: inline;
  position: relative;
  bottom: 30px;
}

.fahrenheit-celsius .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.fahrenheit-celsius .active:hover {
  text-decoration: none;
}

.current-weather-specs {
  font-size: 14px;
  margin-left: 10px;
  padding-top: 15px;
}

.card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgb(56, 54, 54);
  padding: 15px 10px;
  margin: 15px 10px;
}

.weather-forecast {
  margin: 20px;
}

.weather-forecast h3 {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
  color: #3c4349;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 60px;
}

#forecast-temp {
  margin-top: 8px;
}

#max-temp {
  font-size: 18px;
}

#min-temp {
  font-size: 16px;
  color: #686464;
}

.forecast-description {
  font-size: 15px;
  margin-bottom: 10px;
}

.weather-forecast-temperature {
  text-align: center;
  font-size: 18px;
  height: auto;
  line-height: 15px;
  color: #3c4349;
}

.city-icon-column {
  margin-top: 40px;
}

.city-icons {
  margin: 12px;
  width: 90px;
  height: 90px;
  transition: all 200ms ease-in-out;
}

.city-icons:hover {
  opacity: 0.6;
}

.open-source {
  text-align: center;
  margin: 0 20px 100px 20px;
}

p#icon-attribution {
  color: rgb(56, 54, 54);
  text-align: center;
}

/* when loading */
.loader-body {
  display: none;
}

.loading-icon {
  text-align: center;
  padding: 70px 0;
}
